.container {
    display: flex;
}

.map {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    background-color: #282c34;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 230px;
}

.contact {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    text-align: right;
}

.time-work {
    margin-top: 30px;
}

.contact-title {
    font-size: 30px;
    font-weight: bold;
    color: #3f3f3f;
}

.work-title {
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
}

.clock-icon {
    display: inline-block;
    font-size: 18px;
}

.time-work p {
    font-weight: bolder;
    font-size: 18px;
    color: #ff2121;
}

.contact button {
    border-radius: 20px;
}

ul {
    list-style: none;
}

ul li {
    font-size: 20px;
    color: #0065c0;
}

.btn {
    border-radius: 14px;
}
.clock-icon {
    color: #0065c0;
}

@media screen and (max-width: 1000px) {
    .container {
        display: block;
    }
}