.header {
    overflow: hidden;
    background-color: rgb(252, 252, 252);
    padding: 14px 50px;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    color: dodgerblue;
}

.header a.active {
    color: dodgerblue;
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header {
        overflow: hidden;
        background-color: rgb(252, 252, 252);
        padding: 14px 50px;
        margin-bottom: 20px;
        position: relative;
    }

    .header a {
        float: none;
        display: block;
        text-align: center;
    }

    .header-right {
        float: none;
    }
}